extends layout
block content	
	h1 PushMessage

	.row(ng-controller="appController")
		// form to send message
		.form.col-md-8(role='form')
			.form-group
				label User ID
				input#user.form-control(type='text',ng-model="user")
			.form-group
				label Subject
				input#subject.form-control(type='text',ng-model="subject")
			.form-group			
				label Message
				button.btn.btn-default(ng-repeat='x in places', ng-click="showPlace($index)", data-toggle="modal", data-target="#mapModal", style="margin-left : 10px")
					| {{$index+1}} Place
				button.btn.btn-default(type='button', style='margin-left:10px', data-toggle="modal", data-target="#mapModal" ng-click="initMap()")
					span.glyphicon.glyphicon-map-marker
					|  Add Place
				textarea#message.form-control(rows='3',ng-model="message" style="margin-top : 10px")			
				br			
				button#sendButton.btn.btn-default(type='submit', ng-click="sendMessage()") Send
				div(ng-show="isMessageSent", style='padding-top : 10px')
					.alert.alert-success(ng-show="isMessageOK" role='alert') Message sent
					.alert.alert-danger(ng-hide="isMessageOK" role='alert') Something went wrong


		// phone preview
		div.col-md-4(style="background-image: url('images/phone.png'); width : 295px; height : 520px;")
			#backPreview(ng-click='showPhoneMap = false')
			#phoneMap(ng-show="showPhoneMap")				
			div(ng-hide="showPhoneMap")
				div(style="padding-left: 20px; padding-right : 20px")
					H3 {{subject}}
				div(style="padding-top : 10px; padding-left: 20px; padding-right : 20px")
					img(src='/images/messagemap.png', ng-repeat='x in places', ng-click='phoneMap($index)', style='padding-right : 5px')
				div(style="padding-top : 20px; padding-left: 20px; padding-right : 20px")
					p {{message}}
		
		// modal add and modify map
		#mapModal.modal.fade(role='dialog')
				.modal-dialog.modal-lg
					// Modal content
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal') ×
							h4.modal-title(ng-hide="editPlace") Add Place
							h4.modal-title(ng-show="editPlace") Edit Place
						.modal-body#modalBody.form-inline.form-group									
							input#address.form-control(type='textbox', ng-model="place", style="margin-bottom : 10px")
							button.btn.btn-default(type='submit', ng-click="autoComplitPlace()" style="margin-left: 10px; margin-bottom : 10px") Search place
							#map
						.modal-footer
							button.btn.btn-primary(type='button', data-dismiss='modal', ng-click="savePlace()") Save
							button.btn.btn-default(type='button', data-dismiss='modal', ng-hide="editPlace") Cancel
							button.btn.btn-danger(type='button', data-dismiss='modal', ng-show="editPlace", ng-click="removePlace()") Remove
		

	