doctype html
html(ng-app="app")
	head
		title= title		
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')		
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBJYN5YwjDQMDcm8V4LBJR74keaJvHOK6Y&signed_in=true&libraries=visualization,places')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/ui-bootstrap-tpls-2.1.4.min.js')
		script(type='text/javascript', src='/javascripts/pushMessages.js')
	body
		block content
