body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 100%;
}

#phoneMap {
	height: 372px;	
    width: 263px;
    margin-top: 2px;
    margin-right: 37px;
    margin-left: -3px;
    overflow:visible;
}

#backPreview {
	/*border-style: solid;*/
	margin-left: -5px;
    margin-top: 37px;    
    height: 42px;
    width: 261px;
}

#modalBody {
  height: 400px;
}

/*https://code.google.com/p/gmaps-api-issues/issues/detail?id=7458*/
.pac-container {
    z-index: 1051;
}

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}
